@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

:root {
  --boxBackgroundColor: red;
}

.box {
  width: 300px;
  min-height: 200px;
  border: 2px solid #000;
  margin: auto;
}

.box1 {
  width: 300px;
  min-height: 200px;
  border: 2px solid #000;
  background-color: var(--boxBackgroundColor);
}
.text p {
  padding: 10px;
  color: red;
}
.test {
  font-size: 18px;
}
.box h2,
h3 {
  color: royalblue;
}
.just {
  color: green;
}
